* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #6a0dad;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.tela {
  display: none;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tela.ativa {
  display: flex;
}

button {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.botoes {
  margin-top: 20px;
}

.carta {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.pagina {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
